.container-pc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    padding: ;
}

.komp{
    height: 50vh;
}

