.container-pc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.pc-tittel{
    display: flex;
    justify-content: center;

}

.komp img{
    width: 45vw;
}

.komp{
    border-radius: 15px;
    padding: 10px;

    background-color: antiquewhite;
}