*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

body{
    background-color: lightcyan;
}

.tilbake{
    padding: 20px;
}
.tilbake > a{
    padding: 10px;
   text-decoration: none;
   color: black;
   background-color: lightcoral;
}